@model DrugStore.Models.Entities.Drug

@{
    ViewBag.Title = "Корзина";
    //int quantity = 1;
}


<h2>Корзина покупок</h2>

<div>
    <h4>Drug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelfLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelfLife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InStock)
        </dd>

    </dl>
</div>


<div class="item">

    @using (Html.BeginForm("AddToCart", "Cart", new { id = Model.Id}))
    {
        @Html.HiddenFor(x => x.Name)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        
        <input type="submit" class="btn btn-success" value="Добавить в корзину" />
    }

    <h4>@Model.Price.ToString("c")</h4>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
